@import "tailwindcss";

:root {
  --background: #e1e7f4;
  --background-dark: #11101d;

  --title: #0b0b0b;
  --subtitle:#;
  --text-body:#:

  --buttons: #71C1CD;

}


body {
  display: flex;
  min-height: 100vh;
  background: var(--background);
  font-family:'Poppins', Helvetica, sans-serif;
  color: var(--title);
}

